// Modify bootstrap color variables
$primary: #5265E1;
$secondary: #FA5959;

.right-img {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.right-img::before {
    content: "";
    position: absolute;
    width: 30%; 
    padding-bottom: 30%;   
    bottom: 0;
    left: 40%;
    background-color: $primary;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    z-index: -1;
}

.right-img::after {
    content: "";
    position: absolute;
    width: 100%; 
    padding-bottom: 30%;
    bottom: 0;
    left: 70%;
    background-color: $primary;
    z-index: -1;
}


.left-img {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.left-img::before {
    content: "";
    position: absolute;
    width: 30%; 
    padding-bottom: 30%;   
    bottom: 0;
    right: 40%;
    background-color: $primary;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    z-index: -1;
}

.left-img::after {
    content: "";
    position: absolute;
    width: 100%; 
    padding-bottom: 30%;
    bottom: 0;
    right: 70%;
    background-color: $primary;
    z-index: -1;
}

.container-fullwidth {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.nav-button {
    @extend .btn;
    @extend .btn-secondary;
    @extend .shadow;
    @extend .text-light;
}

.features_nav {
    line-height: 1rem;
}

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

