// Modify bootstrap color variables
$primary: #5265E1;
$secondary: #FA5959;


@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

.right-img {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.right-img::before {
    content: "";
    position: absolute;
    width: 30%; 
    padding-bottom: 30%;   
    bottom: 0;
    left: 40%;
    background-color: $primary;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    z-index: -1;
}

.right-img::after {
    content: "";
    position: absolute;
    width: 100%; 
    padding-bottom: 30%;
    bottom: 0;
    left: 70%;
    background-color: $primary;
    z-index: -1;
}


.left-img {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.left-img::before {
    content: "";
    position: absolute;
    width: 30%; 
    padding-bottom: 30%;   
    bottom: 0;
    right: 40%;
    background-color: $primary;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    z-index: -1;
}

.left-img::after {
    content: "";
    position: absolute;
    width: 100%; 
    padding-bottom: 30%;
    bottom: 0;
    right: 70%;
    background-color: $primary;
    z-index: -1;
}

.container-fullwidth {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

// Custom Card
.extensions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.extension-card {

    margin: 2rem;
    display:flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba($primary, .15);

    @include media-breakpoint-down(xl) { 
        width: 23vw;
    }

    @include media-breakpoint-down(lg) { 
        width: 25vw;
        margin: 1rem;
    }
    @include media-breakpoint-down(md) {
        width: 50vw;
    }
    @include media-breakpoint-down(sm) { 
        width: 70vw;
    }   

    > img {
        width: 50%;
        height: auto;
        padding: 5%;        
    }

    @include media-breakpoint-up(md) {
        &:nth-child(3n+1) {
            margin-top: 10px;
            margin-bottom: 70px;
        }
    
        &:nth-child(3n+2) {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    
        &:nth-child(3n+3) {
            margin-top: 70px;
            margin-bottom: 10px;
        }
    }

    

}

.accordion-wrapper {

    & > element {
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(0,0,0,0.125);
    }

    &:first-child {
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(0,0,0,0.125);
    }
}
.card.faq-single-container {
    border-width: 0px 0px 1px 0px;
}

.faq-question {
    color: $body-color;
    padding: 1em;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    line-height: 1.5rem;
    font-size: 1.2rem;

    &:hover {
        color: $secondary;
    }

    &:after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        font-size: 1.5rem;
        color: $primary;
        content: "\f107";
        float: right;
    }

    &[aria-expanded="true"]:after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        font-size: 1.5rem;
        color: $secondary;
        content: "\f106";
        float: right;
    }    
}

.main-footer {
    color: white;
    background-color: $primary;
    padding: 2.5rem;
    width: 100%;

    > .footer-message {
        font-family: monospace;
    }

    > .footer-title {
        font-size: 2rem;
    }

}

.footer-navbar {
    padding: 1.2rem;
    background-color: #11173a;
    color: $white;
}

.footer-nav {
    line-height: 1.5em;

    & .footer-link {
        vertical-align:sub;
        color: $white;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color: $secondary;
        }
    }
}

@include media-breakpoint-down(md) {

    .footer-item {
        text-align: center;
        padding-top: 1.5em;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .footer-link {
        margin-top: 1.5rem;
    }

    

}

@include media-breakpoint-down(sm) {
    .contact-button {
        margin-top: 20px;
    }
}





.invalid-feedback.custom-invalid {
    margin-top: 0px;
    background-color: $secondary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.nav-secondary-button {
    // @extend .btn;
    box-shadow: 0 .5rem 1rem rgba($primary, .15);
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    color: $white;
    background-color: $secondary;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;

    &:hover {
        box-shadow: 0 .5rem 1rem rgba($primary, .15);
        border: 2px solid $secondary;
        background-color: white;
        color: $secondary;
        font-weight: 600;
    }
}




.features_nav {
    line-height: 1rem;
}

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

.was-validated .form-control:invalid {
    border-color: $secondary;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
